{% extends "hometemplate.html" %}

{% block head %}
  {{ super() }}

{% endblock %}


{% block body %}
  {{ super() }}

      <!-- Content Wrapper. Contains page content -->
  <center>
      <div class="content-wrapper" style="width:80%">
          <!-- Content Header (Page header) -->
          <section class="content-header">`
<!--               <h2>Create an Account</h2>
 -->          </section>
          <!-- Main content -->
          <section class="content">
              <div class="row" style="margin-top: 10px;">
                  <div class="col-md-12 text-center">
                      <h1>You've acheived Error 500!</h1>
                      <img src="../static/images/rigbyComputer.gif">
                  </div>
                  <!-- /.col -->
              </div>
              <!-- /.row -->
          </section>
          <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
  </center>

 {%endblock%}