{% extends "hometemplate.html" %}

{% block head %}
	{{ super() }}

{% endblock %}


{% block body %}
	{{ super() }}
<style>
	.required:before{
		content: '*';
		color:red;
	}
</style>
      <!-- Content Wrapper. Contains page content -->
  <center>
  <div class="content-wrapper" style="width:80%">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h2>Create an Account</h2>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Are you an individual student looking to connect with organizations at SJSU, or are you an organization looking to create a webpage?</h3>
                    </div>
                    <div class="box-body">


                        <div class="row">

                            <div class="col-lg-offset-2 col-lg-4 grow singleWell">
                                <div class="well well-square text-center">
                                    <h4>Student</h4>
                                    <img class="inheritPic" src="http://www.clker.com/cliparts/c/7/W/l/I/4/orangeman-joy-simple.svg" />
                                </div>
                            </div>
                            <div class="col-lg-4 orgWell">
                                <div class="well well-square text-center grow">
                                    <h4>Organization</h4>
                                    <img class="inheritPic" src="http://images.clipartpanda.com/group-clipart-group-md.png" />
                                </div>

                            </div>


                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->

    <!-- Modal Zone -->
        <!-- Single Person Modal -->
        <div class="modal fade" id="singleModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Hello there, New Person</h4>
                    </div>
                    <div class="modal-body">
						<h4><content style="color:red">*</content> means the field is required.</h4>
                        <div class="row">

                            <div class="col-lg-offset-2 col-lg-8">

                                <form id="singleForm" class="form-horizontal" role="form" autocomplete="off">

                                    <div class="form-group">
                                        <label class="control-label col-lg-3 required" for="FirstNameSingle">First Name</label>
                                        <div class="col-lg-9">
                                            <input id="FirstNameSingle" placeholder="First Name" class=" mandatory form-control" type="text" name="FirstName"></input>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-3" for="MiddleNameSingle">Middle Name</label>
                                        <div class="col-lg-9">
                                            <input id="MiddleNameSingle" placeholder="Middle Name" class="form-control" type="text" name="MiddleName"></input>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-3 required" for="LastNameSingle">Last Name</label>
                                        <div class="col-lg-9">
                                            <input id="LastNameSingle" placeholder="Last Name" class="mandatory form-control" type="text" name="LastName"></input>


                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label type="number" patter=".{9,9}" class="control-label col-lg-3 required" for="SJSUIDSingle">SJSUID</label>
                                        <div class="col-lg-9">

                                            <input id="SJSUIDSingle" placeholder="001234567" class="mandatory form-control" type="text" name="SJSUID"></input>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-3 required" for="emailSingle">E-mail</label>
                                        <div class="col-lg-9">
                                            <input id="emailSingle" placeholder="sample@example.com" class="mandatory form-control" type="email" name="Email"></input>
                                        </div>
                                    </div>

                                    <br /><br />

                                    <div class="form-group">
                                        <label class="control-label col-lg-3 required" for="PasswordSingle">Password</label>
                                        <div class="col-lg-9">
                                            <input id="PasswordSingle" placeholder="Secret1234" class="mandatory form-control" type="password" name="Password"></input>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-3 required" for="PasswordSingleAgain">Confirm</label>
                                        <div class="col-lg-9">
                                            <input id="PasswordSingleAgain" placeholder="Secret1234" class="mandatory form-control" type="password" name="Password2"></input>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary submitSingle">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

        <!-- Organization Modal -->
        <div id="orgModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">Here Lies an Organization Registration</h2>
                    </div>
                    <div class="modal-body text-center">
                        <h3>R.I.P.</h3>
                        <h3>We barely knew ye.</h3>
                        <img src="../static/images/getIn.gif">
                    </div>

                </div>

            </div>
        </div>
        <!-- End Organization Modal -->
    <!-- End Modal Zone -->
</div>
<!-- /.content-wrapper -->

  </center>

 {%endblock%}