{% extends "studenttemplate.html" %} 

{% block head %} 
    {{ super() }} 
{% endblock %} 

{% block body %} 
    {{ super() }}

<!-- Small boxes (Stat box) -->
<div class="row">
<!-- hidden stuff -->
<input id="hiddenOrg" type="hidden" value="{{organizationData.Info.OrganizationID }}"></input>
    <!-- Main content -->
    <section class="content ">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable mainLeft">
                <h2>{{ organizationData.Info.OrganizationName }} - <small>{{ organizationData.Info.Description }}</small>  </h2>
                <img class="orgSplash" src="{{ url_for('static', filename='dist/img/tower-hall.jpg') }}">
                <div class="box-body">
                </div>
                <!-- /.box -->
            </section>
            <!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable">
                <h2>Bulletins</h2>


<!-- justin attempts to make dynamic bulletins-->
 {% for key in articles %}
                <div class="box box-success">
                    <div class="box-header">
                        <i class="fa fa-comments-o"></i>
                        <h3 class="box-title"> {{key.ArticleTitle }}

                        </h3>                    
                    </div>
                    <div artID="{{key.ArticleID}}" class="box-body chat">
                        <!-- chat item -->
                        <div class="item">
                            <img src="{{ url_for('static', filename='dist/img/spartan.jpg') }}" alt="user image" class="online">
                            <p class="message">
                                <a href="#" class="name">
                                    <small class="text-muted pull-right"></small>{{ organizationData.Info.OrganizationName }} says...
                                </a>
                                {{key.ArticleContent}}
                            </p>

                           
                             {% for runner in comments %}   

                                {% if runner['Article_fk'] == key['ArticleID'] %}

                                <div class="item">
                                <p class="chatBlue well text-right"> 
                                <span class="pull-left">{{runner.FirstName}} {{runner.LastName}} says...</span>  
                                {{ runner.Content }}
                                </p> 


                                </div>


                                {% endif %}
                             {% endfor %}
                   

                        </div>
                        <!-- /.item -->
                    </div>
                    <!-- /.chat -->
                    <div class="box-footer">
                        <div class="input-group">
                            <input value="" class="form-control" placeholder="Add your comment...">
                            <div class="input-group-btn">
                                <button person="{{session.Info.Student.UID}}" artID="{{key.ArticleID}}" class="btn btn-success addComment"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box (chat box) -->
{% endfor %}


<!-- end justin -->

            </section>
            <!-- right col -->
        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
</div>
<!-- /.row -->

    <!-- Begin Modal Zone -->
    <!-- Session Modal. Press left-arrow key to see the modal. -->
    <div id="bulletinModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">oraganizationData!</h4>
                </div>
                <div class="modal-body">
                    <div><p>{{organizationData}}</p></div>
                    <hr />
                    <div>{{comments}}</div>
                    <hr />
                    <div>{{articles}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Zone -->

{% endblock %}
